{% extends 'task_manager/layout.html' %}
{% load i18n %}
{% block content %}
<div class="container">
  <h1 class="my-4">
    {% trans "Статусы" %}
  </h1>

  <div class="form-group m-4 ml-auto">
    <a href="{% url 'statuses:status_create' %}" class="btn btn-outline-dark">{% trans "Создать статус" %}</a>
  </div>

  <table class="table table-hover">
    <thead class="bg-light">
        <tr>
            <th width="10%">{% trans "ID" %}</th>
            <th width="40%">{% trans "Имя" %}</th>
            <th width="30%">{% trans "Дата создания" %}</th>
            <th width="20%"></th>
        </tr>
    </thead>
    <tbody>
      {% for status in statuses %}
        <tr>
          <td>{{ status.id }}</td>
          <td>{{ status.name }}</td>
          <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
          <td>
<!--<div class="btn-group" role="group" aria-label="Действия">-->
<!--  <a href="{% url 'statuses:status_update' status.id %}" class="btn btn-link">-->
<!--    <i class="bi bi-pencil text-secondary"></i>-->
<!--  </a>-->
<!--  <a href="{% url 'statuses:status_delete' status.id %}" class="btn btn-link">-->
<!--    <i class="bi bi-trash text-secondary"></i>-->
<!--  </a>-->
<!--</div>-->
            <a href="{% url 'statuses:status_update' status.id %}">Изменить</a><br>
            <a href="{% url 'statuses:status_delete' status.id %}">Удалить</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">{% trans "Нет статусов." %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="mb-5"></div>
{% endblock %}
