{% extends "task_manager/layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Welcome to Tacticus, your ultimate task management solution</h2>

    <div class="my-4"></div>

    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="d-flex align-items-center justify-content-center">Manage your tasks effectively and organized with Tacticus. Our user-friendly interface allows you to easily create, assign, and track tasks. Never miss an important task again!</p>
      </div>
      <div class="col-md-6">
        <div class="placeholder">
          <img src="/static/task_creation_screenshot.png" alt="Task creation screenshot" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="placeholder">
          <img src="/static/task_tracking_screenshot.png" alt="Task tracking screenshot" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <p>Stay on top of your progress with Tacticus. We offer clear diagrams and reports that help you assess your productivity and reach your goals. Always be a step ahead!</p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-6">
        <p>Collaborate with your team effortlessly. Tacticus allows you to easily share tasks, assign performers, and track work progress. More efficient team work has never been this easy!</p>
      </div>
      <div class="col-md-6">
        <div class="placeholder">
          <img src="/static/team_collaboration_screenshot.png" alt="Team collaboration screenshot" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="placeholder">
          <img src="/static/testimonials_screenshot.png" alt="Testimonials screenshot" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <p>Don't just take our word for it. See what our users have to say about Tacticus. Join the community and improve your productivity today!</p>
      </div>
    </div>
  </div>
{% endblock %}
