{% extends 'task_manager/layout.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{% trans "Создание новой задачи" %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mt-3 col-md-6">
            <label for="id_name">{% trans "Имя задачи:" %}</label>
            <input type="text" class="form-control" id="id_name" name="name">
        </div>
        <div class="form-group mt-3 col-md-6">
            <label for="id_description">{% trans "Описание:" %}</label>
            <input type="text" class="form-control" id="id_description" name="description">
        </div>
        <div class="form-group mt-3 col-md-6">
            <label for="id_status">{% trans "Статус:" %}</label>
            <select class="form-control" id="id_status" name="status">
                {% for status in statuses %}
                    <option value="{{ status.id }}">{{ status.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mt-3 col-md-6">
            <label for="id_labels">{% trans "Метки" %}</label>
            <select multiple class="form-control" id="id_labels" name="labels">
                {% for label in labels %}
                    <option value="{{ label.id }}">{{ label.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mt-3 col-md-6">
            <label for="id_assignee">{% trans "Исполнитель:" %}</label>
            <select class="form-control" id="id_assignee" name="name">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-outline-dark" name="submit">{% trans "Создать" %}</button>
        </div>
    </form>

</div>
{% endblock %}
