{% extends 'task_manager/layout.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{% trans "Удаление задачи" %}</h2>
    <form method="post">
        {% csrf_token %}
        <p>{% trans "Вы уверены, что хотите удалить задачу" %} "{{ task.name }}"?</p>
        <button type="submit" class="btn btn-danger">{% trans "Да, удалить" %}</button>
        <a href="{% url 'tasks:tasks_list' %}" class="btn btn-secondary">{% trans "Отмена" %}</a>
    </form>
</div>
{% endblock %}
